body{
	background-color:slateblue;
}

H1{
	font-family: algerian;
	font-size: 250%;
	color: white;
	font-style: bold;
	text-align:center;
	font-weight: bold;
	background-image: url("4ms.jpg");
}

H3{
	font-size: 150%;
	text-align:center;
	font-family: cambria;
	font-weight: normal;
	color: black;
}

P{
	font-size: 120%;
    font-style: italic;
	font-weight: normal;
}